<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I've over 8 years of experience as a software engineer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in abstracting real world problems as software components.
        </p>
        <p>
           Naturally I love building things right from my childhood days, 
           I also ask a lot of questions because I want to know how things work. 
           And I find it intresting learning difficult and challenging topics in school.
        </p>

        <p>At work, while hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a role where I can take on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Revamped a legacy corporate internet banking application for one of the largest banks in Africa, 
            Made a lot of optimization to the code base, broke down some core monolithic services into smaller micro services.
            This greatly improved the speed of client transactions by 400% and provided services for other systems in the bank to consume.
    			</li>
          <li>
            Convinced management and integrated fully automated DevOps process on acquired legacy systems.
            This increased the speed of feature delivery across legacy projects and overall developer hapiness in the team.
          <li>
            Was the first engineer that was hired by a startup called <a href="https://www.propertypro.ng">propertypro.ng</a>. At propertypro.ng,
            I was responsible for building and maintaining their back office lead management application which gave the startup key advantages in area of 
            business insight and analysis over its competitors.
          </li>
          <li>
            Maintained and added some reporting modules to <a href="https://www.teramind.co/product/demo">Teramind dashboard</a>.
            The product is a user activity monitoring(UAM) dashboard.
    			</li>
    			<li>
            Leveraged expertise on CouchDB/PouchDB Offline/Online syncing to lead a team that implemented the reporting features for the open source Hospital software called <a href="http://hospitalrun.io/">HospitalRun</a>.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
