<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Functional Programming</b>. I learned programming using object oriented languages like Java and C#. 
				 Recently their has been much buzz about functional programming and its contructs such as monads, functors, pure functions etc.
				 When I first looked at FP I was really astonished about all its promises, and being the kind of person that I am, I jumped in!.
				 Initially it was difficult grasping it but overtime I am begining to 
				 appreciate it. I have fallen in love with it. I learnt a couple of FP languages such as Haskell and Purescript but have not used in production.
				 These languages have really improved the way I reason about and write JavaScript at work. If you don't see me checking up a new JavaScript functional library on github,
				 then I am reading a new book or a watching video series about it.
			  </li>
			  <li>
				  <b>Soccer</b>. I've been playing soccer right from child hood - I still train with a team called westend super warriors in my area every weekend.
          Am also a die hard fan of Chelsea FC in London, surpisingly I was originally a Real Madrid fan. I still have love for them though.
			  </li>
			  <li>
					<b>History</b>. Learning about history is one of the most favourite things I do online when I am not writing codes. Of recent, 
					I have been fascinated about ancient egyptian culture, their traditions, myths, architecture, and its contributions to the world. 
					I also have been doing personal research on pre-colonial sub-saharan Africa, it kingdoms, administrations etc.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Projects</h3>
		  <ul>
					<li>
							<a href="https://www.teramind.co/product/demo">Teramind dashboard</a> - Employee activity monitoring, data loss prevention and employees behaviour analytics tool.
						</li>
				<li>
          <a href="https://www.smallchange.com">Small Change</a> - A crowd funding platform for real estates.
				</li>
				<li>
						<a href="https://www.propertypro.ng">Property Pro</a> - A site used for searching to for properties to sell or rent in Nigeria.
				</li>
				<li>
						<a href="https://github.com/HospitalRun/hospitalrun-frontend">Hospital Run</a> - Offline first, open source software for developing world hospitals.
				</li>

				<li>
						<a href="https://github.com/eHealthAfrica/direct-delivery-dashboard">Vaccine Direct Delivery</a> - A dashboard for reporting vaccine delivery information.
				</li>

				<li>
						<a href="https://github.com/Chima1707/grunt-couchdb">Grunt CouchDB</a> - A grunt plugin for bootstrapping couchdb database.
				</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
						<li>
								Planning to go back to school. Will start an Msc in Artificial Inteligence Before this year runs out, will likely continue to Phd Level.
						</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
